.wezu-social-share {
  display: flex;;
  flex-direction: row;
  align-items: center;;
  justify-content: center;
  position: relative;
}
.wezu-social-share.align-left {
  justify-content: left;
}
.wezu-social-share.align-right {
  justify-content: right;
}
.social-text {
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
}
.social-icon {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.social-icon img {
  display: inherit;
}
.box-size-small .social-text {
  font-size: 18px;
}
