<div data-id="{{ block.id }}" class="wezu-social-share align-{{ block.settings.align_box }} box-size-{{ block.settings.size }}">
  {%- if block.settings.share_hints -%}
    <h3 class="social-text">{{ block.settings.share_hints }}</h3>
  {%- endif -%}
  {% case block.settings.size %}
    {% when "small" %}
      {% assign iconSize = '32x'  %}
    {% when "large" %}
      {% assign iconSize = '64x'  %}
    {% else %}
      {% assign iconSize = '45x'  %}
  {% endcase %}
  <div class="social-icon" onclick="wezuShareTo('facebook')">
    <img src="{{ 'facebook.png' | asset_img_url: iconSize }}" alt="" loading="lazy" width="" height="">
  </div>
  <div class="social-icon" onclick="wezuShareTo('pinterest')">
    <img src="{{ 'pinterest.png' | asset_img_url: iconSize }}" alt="" loading="lazy" width="" height="">
  </div>
  <div class="social-icon" onclick="wezuShareTo('reddit')">
    <img src="{{ 'reddit.png' | asset_img_url: iconSize }}" alt="" loading="lazy" width="" height="">
  </div>
  <div class="social-icon" onclick="wezuShareTo('twitter')">
    <img src="{{ 'twitter.png' | asset_img_url: iconSize }}" alt="" loading="lazy" width="" height="">
  </div>
</div>

{% schema %}
  {
    "name": "WEZU Social Share",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
      {
        "type": "select",
        "id": "align_box",
        "label": "Horizontal Alignment",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "normal"
      },
      {
        "type": "text",
        "id": "share_hints",
        "label": "Share hints",
        "default": "Share to"
      }
    ]
  }
{% endschema %}
