<div class="testimonials-item testimonials-default">
  {%- if description -%}
    <p class="description">{{ description }}</h3>
  {%- endif -%}
  <div class="picture">
    {%- if picture -%}
      <img src="{{ picture | img_url: '250x250' }}" alt="{{ picture.alt }}" loading="lazy" width="" height="">
    {%- else -%}
      <img src="{{ 'default.png' | asset_url }}" loading="lazy" width="250" height="250">
    {%- endif -%}
  </div>
  {%- if name -%}
    <h3 class="name">{{ name }}</h3>
  {%- endif -%}
  {%- if position -%}
    <span class="position">{{ position }}</span>
  {%- endif -%}
</div>
